<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/schema/9.3.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="SchebTwoFactorBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>

    <php>
        <!-- Disable E_USER_DEPRECATED -->
        <!-- php -r 'echo -1 & ~E_USER_DEPRECATED;' -->
        <ini name="error_reporting" value="-16385"/>
    </php>
</phpunit>
