<p>
    {{ issuer }}
</p>
<p>
    <a href="{{ qr }}"><img src="{{ qr }}" border="0"></a>
</p>
<ul>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a>
    </li>
    <li>
        <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iOS</a>
    </li>
    <li>
        <a href="https://www.microsoft.com/en-us/store/apps/authenticator/9nblggh09llf">Windows Phone</a>
    </li>
    <li>
        <a href="https://support.google.com/accounts/answer/1066447">Install Google Authenticator (Google Support)</a>
    </li>
</ul>